<div class="container-fluid">
    <div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#cadastro"
                aria-expanded="false" aria-controls="cadastro">Cadastrar novo</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="cadastro">
                    <form>
                        <div class="row">
                            <div class="col-md-8 px-1">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <input ng-model="vm.categoriaQuarto.descricao" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label>Diaria</label>
                                    <input ng-model="vm.categoriaQuarto.diaria" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button ng-click="vm.salvar()" type="submit" class="btn btn-success btn-fill">Salvar</button>
                        <button ng-click="vm.categoriaQuarto = {}" type="submit" class="btn btn-light btn-fill">Limpar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain table-plain-bg">
                <div class="card-header ">
                    <h4 class="card-title">Listagem de categorias de quarto</h4>
                </div>
                <div class="card-body table-full-width table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.listagem">
                                <td>{{item.descricao}}</td>
                                <td>{{item.diaria}}</td>
                                <td style="width: 30px;" ng-click="vm.remover(item.id)">remover</td>
                                <td style="width: 30px;" ng-click="vm.buscar(item.id)">editar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>