<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    Hotelaria
                </a>
            </div>
            <ul class="nav" ng-repeat="menu in vm.menuOpcoes">
                <li ng-class="{'nav-item, active': menu.ativo}" ng-click="vm.selecionarItemMenu($index)">
                    <a class="nav-link">
                        <p>{{::menu.label}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">

        <div class="content" ng-if="vm.selecionado === 'ALUGUEL'">
            <aluguel><aluguel>
        </div>
        <div class="content" ng-if="vm.selecionado === 'PRODUTOS'">
            <produto><produto>
        </div>
        <div class="content" ng-if="vm.selecionado === 'PESSOAS_FISICAS'">
            <pessoa-fisica><pessoa-fisica>
        </div>
        <div class="content" ng-if="vm.selecionado === 'FUNCIONARIOS'">
            <funcionario><funcionario>
        </div>
        <div class="content" ng-if="vm.selecionado === 'HOSPEDES'">
            <hospede><hospede>
        </div>
        <div class="content" ng-if="vm.selecionado === 'QUARTO'">
            <quarto><quarto>
        </div>
        <div class="content" ng-if="vm.selecionado === 'CATEGORIA_QUARTO'">
            <categoria-quarto><categoria-quarto>
        </div>
        <div class="content" ng-if="vm.selecionado === 'HOTEL'">
            <hotel><hotel>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <p class="copyright text-center">
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </p>
                </nav>
            </div>
        </footer>
    </div>
</div>